@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Amaranth');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    font-family: 'Amaranth', sans-serif;;
}

.image {
	background-image: url("../imagens/backoffice.jpg");
	background-size: cover;
	height: 60vh;
}

.text-image{
	color: white;
}

.text-align { 
	margin-top: 10em; 
}

.menu-top {
	padding-top: 1em;
	margin-left: 5em;
	margin-right: 5em;
}

.nav-align {
	margin-left: 3.7em;
}

.table-align{
	width: 90vw;
	margin-top: 4vh;
}